<!DOCTYPE html>
<html>
	<head>
		{% if page.title %}			
			<title>{{ page.title }} | ChatScrypt</title>
		{% else %}
			<title>ChatScrypt</title>
		{% endif %}
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link href="https://fonts.googleapis.com/css?family=PT+Serif|Roboto&display=swap" rel="stylesheet"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0">	
   		{% seo %}
	</head>
	
	<body>
	<div class="site-header">
		<div class="site-header-title">
			<a href="/">ChatScrypt</a></li>
		</div>
		
		<div class="site-header-nav">
		<ul>
       			<li><a href="/about/">About</a></li>
			<li><a href="{{ site.posts.last.url }}">First&nbsp;Post</a></li>
       			<li><a href="/all-posts/">All&nbsp;Posts</a></li>
		</ul>
		</div>
	</div>
	
	
	
	<div class="post-nav">
	</div>

	<div class="post">
	
	{% if page.title %}		
		<h1>{{ page.title }}</h1>
		<br><br>
	{% endif %}
	
		{{ content }}
			    
	</div>
	
	<div class="post-nav">
	</div>
	
	<br><br><br>
	
	{% if page.comments %}
	<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://chatscrypt-github-io.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
                            
	{% endif %}
	
	<!-- Default Statcounter code -->
	
	<script id="dsq-count-scr" src="//chatscrypt-github-io.disqus.com/count.js" async></script>
	
	<!-- Default Statcounter code for ChatScrypt
https://chatscrypt.github.io/ -->
<script type="text/javascript">
var sc_project=12168135; 
var sc_invisible=1; 
var sc_security="bdef6dd0"; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="website
statistics" href="https://statcounter.com/"
target="_blank"><img class="statcounter"
src="https://c.statcounter.com/12168135/0/bdef6dd0/1/"
alt="website statistics"></a></div></noscript>
<!-- End of Statcounter Code -->
	</body>		
</html>
